@import "core/variables";
@import "components/header";
@import "components/footer";
@import "components/reasons-section";
@import "core/reset";

* {
  font-family: $font-main;
}

// tips section

.tips_section {
  padding: 40px 15px 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.tips_title {
  font-size: 24px;
  font-family: $font-title;
  text-transform: capitalize;
}

.tips_subtitle {
  font-size: 14px;
  font-family: $font-main;
  color: $mid-blue;
}

.tips_text {
  font-size: 18px;
  color: $grey;
  padding: 15px 0;
}

.tips_btn {
  text-decoration: none;
  margin: 15px 0;
  display: inline-block;
  padding: 10px 32.5px;
  color: $orange;
  background-color: $lightest-color;
  border: 2px solid $orange;
  border-radius: 22.5px;
  transition: all ease 0.3s;

  &:hover {
    background-color: $orange;
    color: $lightest-color;
    transform: scale(1.2);
  }
}

@media all and (min-width: 768px) {
  .tips_title {
    font-size: 26px;
  }
  .tips_text {
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .tips_subtitle {
    font-size: 16px;
  }
  .tips_title {
    font-size: 32px;
  }
  .tips_text {
    font-size: 20px;
    width: 60%;
  }
}
