@import "core/reset";
@import "core/variables";

* {
  font-family: $font-main;
}

.header {
  height: 100vh;
  color: $lightest-color;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_title {
  font-size: $primary-title;
  text-transform: uppercase;
}

// borders to be erase

.page_container {
  border: 5px solid black;
}

.header {
  border: 5px solid red;
}

.main {
  border: 5px solid rebeccapurple;
}

.footer {
  border: 5px solid yellow;
}
