@import "core/variables";
@import "components/header";
@import "components/footer";
@import "core/reset";

* {
  font-family: $font-main;
}

.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// main

.reasons_section {
  background-color: $light-blue;
}

// borders to be erase

.page_container {
  border: 5px solid black;
}

header {
  border: 5px solid red;
}

// ._title {
//   border: 5px solid white;
// }

// ._text {
//   border: 5px solid white;
// }

.main {
  border: 5px solid rebeccapurple;
}

.footer {
  border: 5px solid yellow;
}
