<footer>
  <a class="go-hero_btn" href="#hero"
    ><img src="./assets/images/ico-arrow.svg" alt="go to top"
  /></a>
  <p class="copy">
    &copy;2017 <br />
    we <span class="heart">&hearts;</span> components
  </p>
  <nav>
    <ul>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="link to Adalab" target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
</footer>
