<footer class="footer">
  <div class="btn_container">
    <a class="go-hero_btn" href="#hero"
      ><img class="arrow" src="./assets/images/ico-arrow.svg" alt="go to top"
    /></a>
  </div>
  <div class="nav_container">
    <p class="copy">
      &copy;2017 <br />
      we <span class="heart">&hearts;</span> components
    </p>
    <nav class="nav">
      <ul>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Articles</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Books</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Events</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="nav">
      <ul>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="list_item">
          <a
            class="link_item"
            href="https://adalab.es/"
            title="link to Adalab"
            target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
