<footer>
  <p class="copy">
    &copy;2017 <br />
    we <span class="heart">&hearts;</span> components
  </p>
  <nav>
    <ul>
      <li><a href="http://">Articles</a></li>
      <li><a href="http://">Books</a></li>
      <li><a href="http://">Events</a></li>
      <li><a href="http://">Reasons</a></li>
      <li><a href="http://">Tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="http://">Twitter</a></li>
      <li><a href="http://">Instagram</a></li>
      <li><a href="http://">Mastodon.social</a></li>
    </ul>
  </nav>
  <a class="go-hero_btn" href="#hero"
    ><img src="./assets/images/ico-arrow.svg" alt="go down"
  /></a>
</footer>
