<header id="hero">
  <a
    href="https://adalab.es/"
    title="Link to Adalab"
    target="_blank"
    class="hamburger"
  >
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </a>
  <div class="header_container">
    <h1 class="_title">
      Anonymous <br />
      proxy
    </h1>
    <p class="_text">Unde similique ex laborum nesciunt.</p>
    <a class="go-reasons_btn" href="#reasons"
      ><img src="./assets/images/ico-scroll-down.svg" alt="go down"
    /></a>
  </div>
</header>
