<main>
  <section class="tips_section">
    <h4>Insomnia tips</h4>
    <h2>Looking through a window</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
      ullam fugiat doloremque nemo ab commodi excepturi dolores atque
      praesentium eius voluptatum, consequatur odit quidem aperiam temporibus
      recusandae magnam modi.
    </p>
    <button class="go-hero">
      <a href="#hero"></a>
    </button>
  </section>
  <section class="reasons_section" id="reasons">
    <h2>Reasons to purchase</h2>
    <h3>Subtítulo 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      inventore fugit repellendus iste ipsa amet nulla quia neque officia vel
      quos, obcaecati, ut adipisci autem totam ea optio reprehenderit quasi.
    </p>
    <h3>Subtítulo 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem
      reiciendis repudiandae natus recusandae suscipit quae, fugit,
      exercitationem fugiat, nisi necessitatibus eaque dicta! Quaerat
      repellendus maiores veniam cumque consequatur debitis?
    </p>
    <h3>Subtítulo 3</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore
      obcaecati impedit atque iure nemo amet soluta ea saepe dolor id unde,
      consequatur minima quasi. Maiores unde porro exercitationem et?
    </p>
    <a href="http://"></a>
  </section>
  <a href="http://"></a>
</main>
