<main>
  <section class="tips_section">
    <h4 class="tips_subtitle">Insomnia tips</h4>
    <h2 class="tips_title">Looking through a window</h2>
    <p class="tips_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
      ullam fugiat doloremque nemo ab commodi excepturi dolores atque
      praesentium eius voluptatum, consequatur odit quidem aperiam temporibus
      recusandae magnam modi.
    </p>
    <a class="tips_btn" href="#hero">Go</a>
  </section>
  <section class="reasons_section" id="reasons">
    <h2 class="reasons_title">3 reasons to purchase</h2>
    <h3 class="reasons_subtitle">Reason 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      inventore fugit repellendus iste ipsa amet nulla quia neque officia vel
      quos, obcaecati, ut adipisci autem totam ea optio reprehenderit quasi.
    </p>
    <h3 class="reasons_subtitle">Reason 2</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem
      reiciendis repudiandae natus recusandae suscipit quae, fugit,
      exercitationem fugiat, nisi necessitatibus eaque dicta! Quaerat
      repellendus maiores veniam cumque consequatur debitis?
    </p>
    <h3 class="reasons_subtitle">Reason 3</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore
      obcaecati impedit atque iure nemo amet soluta ea saepe dolor id unde,
      consequatur minima quasi. Maiores unde porro exercitationem et?
    </p>
  </section>
  <a
    class="more-info_btn"
    href="https://adalab.es/"
    title="link to Adalab"
    target="_blank"
    >More Reasons</a
  >
</main>
