<section class="reasons_section" id="reasons">
  <div class="grid_container">
    <div class="grid_item-1">
      <h2 class="reasons_title">3 reasons to purchase</h2>
    </div>
    <div class="grid_item-2">
      <h3 class="reasons_subtitle">Reason 1</h3>
      <p class="reasons_text">
        Vero optio laborum iure quasi perspiciatis ducimus officiis esse dolore
        modi itaque laudantium mollitia, est tempore quae! Quo quibusdam quis
        molestias nam?
      </p>
    </div>
    <div class="grid_item-3">
      <h3 class="reasons_subtitle">Reason 2</h3>
      <p class="reasons_text">
        Quasi corporis necessitatibus, labore laborum provident itaque explicabo
        quibusdam voluptatum ratione consequatur tenetur mollitia qui maxime et.
      </p>
    </div>
    <div class="grid_item-4">
      <h3 class="reasons_subtitle">Reason 3</h3>
      <p class="reasons_text">
        Dolorum reprehenderit id numquam delectus, error eveniet dolores amet
        fugiat unde officia exercitationem aut alias, excepturi reiciendis
        perferendis at eos nesciunt qui.
      </p>
    </div>
    <div class="grid_item-5">
      <a
        class="more-info_btn"
        href="https://adalab.es/"
        title="link to Adalab"
        target="_blank"
        >More Reasons</a
      >
    </div>
  </div>
</section>
