<section class="reasons_section" id="reasons">
  <div class="grid_container">
    <div class="grid_item-1">
      <h2 class="reasons_title">3 reasons to purchase</h2>
    </div>
    <div class="grid_item-2">
      <h3 class="reasons_subtitle">Ud sed metus</h3>
      <p class="reasons_text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="grid_item-3">
      <h3 class="reasons_subtitle">Curabitur ac erat</h3>
      <p class="reasons_text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="grid_item-4">
      <h3 class="reasons_subtitle">Morbi dictum</h3>
      <p class="reasons_text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </div>
    <div class="grid_item-5">
      <a
        class="more-info_btn"
        href="https://adalab.es/"
        title="link to Adalab"
        target="_blank"
        >More Reasons</a
      >
    </div>
  </div>
</section>
