<section class="reasons_section" id="reasons">
  <div class="grid_container">
    <div class="grid_item-1">
      <h2 class="reasons_title">3 reasons to purchase</h2>
    </div>
    <div class="grid_item-2">
      <h3 class="reasons_subtitle">Reason 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        inventore fugit repellendus iste ipsa amet nulla quia neque officia vel
        quos, obcaecati, ut adipisci autem totam ea optio reprehenderit quasi.
      </p>
    </div>
    <div class="grid_item-3">
      <h3 class="reasons_subtitle">Reason 2</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem
        reiciendis repudiandae natus recusandae suscipit quae, fugit,
        exercitationem fugiat, nisi necessitatibus eaque dicta! Quaerat
        repellendus maiores veniam cumque consequatur debitis?
      </p>
    </div>
    <div class="grid_item-4">
      <h3 class="reasons_subtitle">Reason 3</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore
        obcaecati impedit atque iure nemo amet soluta ea saepe dolor id unde,
        consequatur minima quasi. Maiores unde porro exercitationem et?
      </p>
    </div>
    <div class="grid_item-5">
      <a
        class="more-info_btn"
        href="https://adalab.es/"
        title="link to Adalab"
        target="_blank"
        >More Reasons</a
      >
    </div>
  </div>
</section>
