<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Evaluación Final</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="page_container">

    <header class="header">
      <div class="hamburger">
        <div class="top_item"></div>
        <div class="mid_item"></div>
        <div class="bottom_item"></div>
      </div>
      <div class="header_text">
    <h1 class="header_title">
      <span>Anonymous</span>
      <span>proxy</span>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sed doloribus aliquid sunt facilis est, deserunt delectus, dolorem veniam quasi provident laboriosam rem dolorum autem. Unde similique ex laborum nesciunt.</p>
  </div>

    <button></button>
    </header>

    <main class="main">
      <section class="tips_section">
        <h4>Insomnia tips</h3>
        <h2>Looking through a window</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati ullam fugiat doloremque nemo ab commodi excepturi dolores atque praesentium eius voluptatum, consequatur odit quidem aperiam temporibus recusandae magnam modi.</p>
        <button></button>
      </section>
      <section class="reasons_section">
        <h2>Reasons to purchase</h2>
        <h3>Subtítulo 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque inventore fugit repellendus iste ipsa amet nulla quia neque officia vel quos, obcaecati, ut adipisci autem totam ea optio reprehenderit quasi.</p>
        <h3>Subtítulo 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem reiciendis repudiandae natus recusandae suscipit quae, fugit, exercitationem fugiat, nisi necessitatibus eaque dicta! Quaerat repellendus maiores veniam cumque consequatur debitis?</p>
        <h3> Subtítulo 3</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore obcaecati impedit atque iure nemo amet soluta ea saepe dolor id unde, consequatur minima quasi. Maiores unde porro exercitationem et?</p>
        <button></button>
      </section>
      <button></button>
    </main>
    
    <footer class="footer">
      <p>&copy;2017 we love components</p>
      <nav class="blog_nav">
        <ul>
          <li><a href="http://">Articles</a></li>
          <li><a href="http://">Books</a></li>
          <li><a href="http://">Events</a></li>
          <li><a href="http://">Reasons</a></li>
          <li><a href="http://">Tips</a></li>
        </ul>
      </nav>
      <nav class="socialmed_nav">
        <ul>
          <li><a href="http://">Twitter</a></li>
          <li><a href="http://">Instagram</a></li>
          <li><a href="http://">Mastodon.social</a></li>
        </ul>
      </nav>
    </footer>

  </div>
  </body>
</html>

<!-- 
<div class="page_con">
  <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
  <partial src="_main.html" label="Main"></partial>
  <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
  <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial>
  <partial src="_footer.html"></partial>
</div> -->
