// footer

footer {
  width: 100%;
  padding: 60px;
  color: $lightest-color;
  background-color: $darkest-color;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media all and (min-width: 768px) {
  footer {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

ul li {
  list-style: none;

  & a {
    text-decoration: none;
    color: $lightest-color;
  }
}

nav {
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
}

.copy {
  text-align: center;
  font-size: 14px;
  padding: 10px 30px;
}

.heart {
  color: $orange;
}

.go-hero_btn {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $lightest-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
