// footer

footer {
  width: 100%;
  color: $lightest-color;
  background-color: $darkest-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 768px) {
  footer {
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
}

.blog_nav {
  text-transform: uppercase;
}

.social-med_nav {
  text-transform: uppercase;
}

.copy {
  font-size: 14px;
}

.heart {
  color: $orange;
}
