// header

header {
  height: 100vh;
  width: 100%;
  color: $lightest-color;
  text-align: center;
  font-size: $secondary-text;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

._title {
  font-size: $primary-title;
  text-transform: uppercase;
}

._text {
  font-size: $secondary-text;
}
