// reasons section

.reasons_section {
  background-color: $light-blue;
}

.reasons_title {
  font-family: $font-title;
  text-transform: capitalize;
  font-size: 24px;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: $orange;
    transform: scale(1.5);
  }
}

.reasons_subtitle {
  font-family: $font-title;
}

.more-info_btn {
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid $orange;
  border-radius: 22.5px;
  color: $lightest-color;
  background-color: $orange;
  transition: all ease 0.3s;

  &:hover {
    background-color: $lightest-color;
    color: $orange;
    border: 2px solid $orange;
    transform: scale(1.2);
  }
}

// grid

.grid_container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (3, 1fr);
  grid-gap: 30px 30px;
}

.grid_item-1 {
  // background-color: red;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid_item-2 {
  //   background-color: rebeccapurple;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid_item-3 {
  //   background-color: yellow;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid_item-4 {
  //   background-color: pink;
  text-align: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.grid_item-5 {
  text-align: center;
  grid-column: 1/4;
  grid-row: 3/4;
}
