// reasons section

.reasons_section {
  padding: 6% 11% 10% 11%;
  background-color: $light-blue;
}

.reasons_title {
  display: inline-block;
  font-family: $font-title;
  text-transform: capitalize;
  font-size: 24px;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: $orange;
    transform: scale(1.5);
  }
}

.reasons_subtitle {
  font-family: $font-title;
  font-size: 18px;
}

.reasons_text {
  font-family: $font-main;
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .reasons_subtitle {
    font-size: 24px;
  }
  .reasons_title {
    font-size: 26px;
  }
  .reasons_text {
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .reasons_subtitle {
    font-size: 24px;
  }
  .reasons_title {
    font-size: 32px;
  }
  .reasons_text {
    font-size: 20px;
  }
}

.more-info_btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid $orange;
  border-radius: 22.5px;
  color: $lightest-color;
  background-color: $orange;
  transition: all ease 0.3s;

  &:hover {
    background-color: $lightest-color;
    color: $orange;
    border: 2px solid $orange;
    transform: scale(1.2);
  }
}

// grid

.grid_container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (3, 1fr);
  grid-gap: 30px 30px;
}

.grid_item-1 {
  // background-color: red;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid_item-2 {
  //   background-color: rebeccapurple;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid_item-3 {
  //   background-color: yellow;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid_item-4 {
  //   background-color: pink;
  text-align: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.grid_item-5 {
  text-align: center;
  grid-column: 1/4;
  grid-row: 3/4;
}

// responsive grid

@media all and (max-width: 767px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 20vh) 1fr;
    // grid-gap: 30px 30px;
  }
  .grid_item-1 {
    text-align: center;
    grid-row: 1/2;
    grid-column: span 1;
  }

  .grid_item-2 {
    text-align: center;
    grid-row: 2/3;
    grid-column: span 1;
  }

  .grid_item-3 {
    text-align: center;
    grid-row: 3/4;
    grid-column: span 1;
  }

  .grid_item-4 {
    text-align: center;
    grid-row: 4/5;
    grid-column: span 1;
  }

  .grid_item-5 {
    text-align: center;
    grid-row: 5/6;
    grid-column: span 1;
  }
}
