// fonts
$font-main: "Roboto Slab";

// font-size titles
$primary-title: 42px;
$secondary-title: 24px;
$tertiary-title: 18px;
$subtitle: 14px;

// font-size texts
$primary-text: 18px;
$secondary-text: 16px;
$tertiary-text: 14px;

//colorpalette
$lightest-color: white;
$darkest-color: #304268;
$orange: #f26002;
$light-blue: #eff9ff;
$mid-blue: #8ccbea;
$dark-blue: #0271bc;
