// fonts
$font-main: "Roboto";
$font-title: "Roboto Slab";

//color palette
$lightest-color: white;
$darkest-color: #304268;
$orange: #f26002;
$grey: #4a4a4a;
$cerulean: #0271bc;
$light-blue: #eff9ff;
$mid-blue: #8ccbea;
$dark-blue: #0271bc;
