// fonts
$font-main: "Roboto Slab";

// font-size
$primary-title: 42px;
$secondary-title: 24px;
$tertiary-title: 18px;
$subtitle: 14px;

//colorpalette
$lightest-color: white;
$darkest-color: #304268;
$orange: #f26002;
$light-blue: #8ccbea;
$dark-blue: #0271bc;
